
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-box">
                    <strong>GET IN TOUCH</strong>
                    <div class="footer-contentbox">
                        <ul>
                            <li><a href="mailto:@IntegrityWeb.Constant.SiteConfigration.ContactEmail"><i class="fa fa-envelope" aria-hidden="true"></i>@IntegrityWeb.Constant.SiteConfigration.ContactEmail</a></li>
                            <li><a href="skype:Integritysoftwaresinc?chat"><i class="fa fa-skype" aria-hidden="true"></i>Integritysoftwaresinc</a></li>
                            <li><a href="tel:@IntegrityWeb.Constant.SiteConfigration.ContactNo"><i class="fa fa-phone-square" aria-hidden="true"></i> @IntegrityWeb.Constant.SiteConfigration.ContactNo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-box">
                    <strong>QUICK LINKS</strong>
                    <div class="footer-contentbox">
                        <ul>
                            <li><a href="@Url.Action("Index", "AboutUs")"><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                            <li><a href="@Url.Action("Index", "Services")"><i class="fa fa-angle-right" aria-hidden="true"></i>Services</a></li>
                            <li><a href="@Url.Action("Index", "Portfolio")"><i class="fa fa-angle-right" aria-hidden="true"></i>Portfolio</a></li>
                            <li><a href="@Url.Action("Index", "ContactUs")"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact Us</a></li>
                            <li><a href="@Url.Action("Index", "PrivacyPolicy")"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-box">
                    <strong>CONTACT US</strong>
                    <div class="footer-contentbox">
                        <ul>
                            <li><a href="#!"><i class="fa fa-map-marker" aria-hidden="true"></i>@IntegrityWeb.Constant.SiteConfigration.Address1Line1<br> @IntegrityWeb.Constant.SiteConfigration.Address1Line2</a></li>
                            <li><a href="mailto:@IntegrityWeb.Constant.SiteConfigration.ContactEmail"><i class="fa fa-envelope" aria-hidden="true"></i>@IntegrityWeb.Constant.SiteConfigration.ContactEmail</a></li>
                            <li><a href="tel:@IntegrityWeb.Constant.SiteConfigration.ContactNo"><i class="fa fa-phone-square" aria-hidden="true"></i> @IntegrityWeb.Constant.SiteConfigration.ContactNo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-box last">
                    <strong>FOLLOW US</strong>
                    <div class="footer-contentbox">
                        <ul>
                            <li>
                                <a target="_blank" href="@IntegrityWeb.Constant.SiteConfigration.FaceBookURL">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="@IntegrityWeb.Constant.SiteConfigration.InstagramURL">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>Instagram
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="@IntegrityWeb.Constant.SiteConfigration.TwitterURL">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="@IntegrityWeb.Constant.SiteConfigration.PinterestURL">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>Pinterest
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="@IntegrityWeb.Constant.SiteConfigration.LinkedINURL">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_txt text-center">
        <p>&copy;2019-20 @IntegrityWeb.Constant.SiteConfigration.Name. - All rights reserved.</p>
    </div>
</footer>
