@{
    ViewBag.Title = "Mobile App Development Company in New York | Web Development Company in New York";
    ViewBag.canonical = IntegrityWeb.Constant.SiteConfigration.webURL;
    ViewBag.description = "Integrity is the best web software & mobile app development company in New York that builds software, websites, mobile apps, web apps, and other web and mobile products at affordable prices. Contact us at " + IntegrityWeb.Constant.SiteConfigration.ContactNo+" today.";
}

<main class="site-main">
    <!-- homeslider-section -->
    <div class="homeslider-section">
        <div id="homeslidercarousel" class="owl-carousel owl-theme homeslider-slider">
            <!-- item -->
            <div class="item slide1">
                <div class="homeslider-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 tablet-hide">
                                <div class="homeslider-imgbox">
                                   
                                    <picture>
                                        <source type="image/webp" srcset="~/images/home/android.webp">
                                        <source type="image/jpeg" srcset="~/images/home/android.jpg">
                                        <img src="~/images/home/android.png" alt="banner" />
                                    </picture>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="homeslider-contentbox">
                                    <h1>Android App <span>Development</span></h1>
                                    <p>Increase your profits by developing Android apps. Our Android development kit is budget efficient, allowing you to enjoy benefits such as lower application distribution cost, faster deployment, versatility, scalability, and enhanced security.</p>
                                    <a href="@Url.Action("Index", "Services")" class="btn_default"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</a>
                                </div>
                            </div>
                            <div class="col-md-6 mobile-hide">
                                <div class="homeslider-imgbox">
                                   
                                    <picture>
                                        <source type="image/webp" srcset="~/images/home/android.webp">
                                        <source type="image/jpeg" srcset="~/images/home/android.jpg">
                                        <img src="~/images/home/android.png" alt="banner" />
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- item /- -->
            <!-- item -->
            <div class="item slide2">
                <div class="homeslider-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 tablet-hide">
                                <div class="homeslider-imgbox">
                                    
                                    <picture>
                                        <source type="image/webp" srcset="~/images/home/web-development.webp">
                                        <source type="image/jpeg" srcset="~/images/home/web-development.jpg">
                                        <img src="~/images/home/web-development.png" alt="banner" />
                                    </picture>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="homeslider-contentbox">
                                    <h1>Web Development<span>Services</span></h1>
                                    <p>We are a full stack development company that delivers websites using a team of experienced software engineers to produce applications that increaseengagement, conversions, and revenue across all your digital web solutions.</p>
                                    <a href="@Url.Action("Index", "Services")" class="btn_default"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</a>
                                </div>
                            </div>
                            <div class="col-md-6 mobile-hide">
                                <div class="homeslider-imgbox">
                                    <picture>
                                        <source type="image/webp" srcset="~/images/home/web-development.webp">
                                        <source type="image/jpeg" srcset="~/images/home/web-development.jpg">
                                        <img src="~/images/home/web-development.png" alt="banner" />
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- item /- -->
            <!-- item -->
            <div class="item slide3">
                <div class="homeslider-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 tablet-hide">
                                <div class="homeslider-imgbox">
                                    
                                    <picture>
                                        <source type="image/webp" srcset="~/images/home/banner11.webp">
                                        <source type="image/jpeg" srcset="~/images/home/banner11.jpg">
                                        <img src="~/images/home/banner11.png" alt="banner" />
                                    </picture>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="homeslider-contentbox">
                                    <h1>IOS App <span>Development</span></h1>
                                    <p>Our dedicated team model helps maximize your ROI by using industry-standard programming languages to develop custom IOS apps. This gives you broader access to your market and increases your user experience on a secure platform.</p>
                                    <a href="@Url.Action("Index", "Services")" class="btn_default"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read More</a>
                                </div>
                            </div>
                            <div class="col-md-6 mobile-hide">
                                <div class="homeslider-imgbox">
                                   
                                    <picture>
                                        <source type="image/webp" srcset="~/images/home/banner11.webp">
                                        <source type="image/jpeg" srcset="~/images/home/banner11.jpg">
                                        <img src="~/images/home/banner11.png" alt="banner" />
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- item /- -->
        </div>
    </div><!-- homeslider-section /- -->
    <!-- companyintro-section -->
    <div class="companyintro-section sp-60 sb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="companyintro-imgbox wow animated fadeInLeft" data-wow-delay="0.2s">
                        @*<img src="~/images/home/banner4.png" alt="banner" />*@
                        <picture>
                            <source type="image/webp" srcset="~/images/home/banner4.webp">
                            <source type="image/jpeg" srcset="~/images/home/banner4.jpg">
                            <img src="~/images/home/banner4.jpg" alt="banner">
                        </picture>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="companyintro-contentbox wow animated fadeInRight">
                        <div class="section-header">
                            <h3>Welcome to Integrity Softwarers Inc.</h3>
                            <p>Are you looking for a forward-thinking software development team with the expertise to build software applications that scale seamlessly as your business grow? Would you like to work with a technology company that delivers your digital products across all platforms and technical devices?</p>
                            <p>Integrity Softwares Inc. is a full stack development company. We innovate, strategize, and execute technical solutions based on your company goals. We provide a dedicated team capable of developing web, mobile, and native applications that align with your growth strategy.</p>
                            <p>Contact Integrity Softwares Inc. in Glen Oaks, NY, today.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- companyintro-section /- -->

    <div class="fancy-top-features-area sp-60 sb-60 lightgray_bg">
        <div class="container">
            <div class="section-header animated wow fadeInUp">
                <h3>Why Work with Integrity Softwares Inc.?</h3>
                <p><b>Integrity Softwares Inc.</b> is a US-based full-stack development outsourcing IT company. We are development partners that word side-by-side with you to get your product to market by:</p>
                <div class="listingbox" style="text-align:left;">
                    <ul>
                        <li>Integrating our team with yours and leveraging your subject matter expertise with our product development skills.</li>
                        <li>Efficiently managing costs using agile methodologies to deliver value based on your requirements and business goals. Our daily stand-ups allow the team to deal with high-priority and ensure everyone is working on value-added tasks.</li>
                        <li>Our processes demand quality and expertise from project start to deployment and maintenance.</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="fancy-top-features-content animated wow fadeInUp">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-4 col-md-6">
                                <div class="single-top-feature" style="color:black">
                                    <h5><i class="fa fa-check-circle" aria-hidden="true"></i>Quality Assurance and on Time Delivery</h5>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-md-6">
                                <div class="single-top-feature">
                                    <h5><i class="fa fa-clock-o" style="color:black" aria-hidden="true"></i>Excellent Customer Care Support</h5>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-md-6">
                                <div class="single-top-feature" style="color:black">
                                    <h5><i class="fa fa-users" aria-hidden="true"></i>Professional IT Infrastructure </h5>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-md-6">
                                <div class="single-top-feature">
                                    <h5><i class="fa fa-diamond" style="color:black" aria-hidden="true"></i>100% Confidentiality with NDA</h5>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-md-6">
                                <div class="single-top-feature" style="color:black">
                                    <h5><i class="fa fa-certificate" aria-hidden="true"></i>Highly-Skilled & Certified Resources</h5>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-md-6">
                                <div class="single-top-feature">
                                    <h5><i class="fa fa-headphones" style="color:black" aria-hidden="true"></i>Easy Communication Methods</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ***** Skills Area Start ***** -->
    <section class="fancy-skills-area sp-60 sb-60">
        <!-- Side Thumb -->
        <!-- Skills Content -->
        <div class="container">
            <div class="row">
                <div class="skills-side-thumb col-lg-6 col-md-12">
                    <div class="skills-side-imgbox animated wow fadeInLeft">
                        @*<img src="~/images/industries.png" alt="banner" />*@
                        <picture>
                            <source type="image/webp" srcset="~/images/industries.webp">
                            <source type="image/jpeg" srcset="~/images/industries.jpg">
                            <img src="~/images/industries.jpg" alt="banner">
                        </picture>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-12 col-xl-5 animated wow fadeInRight">
                    <div class="section-header">
                        <h3>We Serve All Industries</h3>
                        <p>We stay on top of our industry by being experts in yours. We measure our success by the results we drive for our clients.</p>
                    </div>
                    <div class="skills-content">
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar wow fadeInUp" data-wow-delay="0.5s">
                            <h6>Website Design</h6>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar wow fadeInUp" data-wow-delay="0.5s">
                            <h6>Brand Strategy</h6>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="95"></span>
                            </div>
                        </div>
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar wow fadeInUp" data-wow-delay="0.5s">
                            <h6>Digital Marketing</h6>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="85"></span>
                            </div>
                        </div>
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar wow fadeInUp" data-wow-delay="0.5s">
                            <h6>Website Development</h6>
                            <div id="bar4" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "ContactUs")" class="btn_default"><i class="fa fa-handshake-o" aria-hidden="true"></i>Work with us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Skills Area End ***** -->
    <!-- calltoaction-section -->
    <section class="calltoaction-section sp-60 sb-60">
        <div class="container">
            <div class="section-header text-center animated wow fadeInUp">
                <h3>Ready To Discuss Your Project?</h3>
                <p>There are many ways to contact us. You may drop us a line, give us a call or send an email, choose what suits you the most.</p>
                <a href="@Url.Action("Index", "ContactUs")" class="btn_default"><i class="fa fa-check" aria-hidden="true"></i>Let's GO</a>
            </div>
        </div>
    </section><!-- calltoaction-section /- -->
    <!-- Portfolio Section -->
    <div class="portfolio-section portfolio-3-col sp-60 sb-60">
        <!-- Container -->
        <div class="container">
            <!-- Section Header -->
            <div class="section-header text-center">
                <h3>Our Software Development Portfolio</h3>
                <p>Whether you are a small business or a large enterprise, we bring excellence, integrity, team spirit, and diverse skills to each project. Check out some of our projects below.</p>
            </div><!-- Section Header /- -->
            <!-- Gallery Filter -->
            <div class="portfolio-category">
                <ul id="filters">
                    <li><a class="active" data-filter="*" href="#" title="All">ALL</a></li>
                    <li><a data-filter=".web" href="#" title="Web">Web</a></li>
                    <li><a data-filter=".graphic" href="#" title="Graphic">Graphic</a></li>
                    <li><a data-filter=".app" href="#" title="App">App</a></li>
                    <li><a data-filter=".photography" href="#" title="development">Development</a></li>
                </ul>
            </div><!-- Gallery Filter /- -->
            <!-- Row -->
            <div class="row portfolio-list animated wow fadeInUp">
                <div class="col-sm-4 col-xs-6 portfolio-box web">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i>
                                @*<img src="~/images/portfolio-3-col-1.jpg" alt="Gallery" />*@
                                <picture>
                                    <source type="image/webp" srcset="~/images/portfolio-3-col-1.webp">
                                    <source type="image/jpeg" srcset="~/images/portfolio-3-col-1.jpg">
                                    <img src="~/images/portfolio-3-col-1.jpg" alt="Gallery">
                                </picture>
                            </i>
                            <a href="images/portfolio-3-col-1.jpg">
                            <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box graphic">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i>
                              
                                <picture>
                                    <source type="image/webp" srcset="~/images/portfolio-3-col-2.webp">
                                    <source type="image/jpeg" srcset="~/images/portfolio-3-col-2.jpg">
                                    <img src="~/images/portfolio-3-col-2.jpg" alt="Gallery">
                                </picture>
                            </i>
                            <a href="images/portfolio-3-col-2.jpg">
                            <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box app">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i>                               
                                <picture>
                                    <source type="image/webp" srcset="~/images/portfolio-3-col-3.webp">
                                    <source type="image/jpeg" srcset="~/images/portfolio-3-col-3.jpg">
                                    <img src="~/images/portfolio-3-col-3.jpg" alt="Gallery" />
                                </picture>
                            </i>
                            <a href="images/portfolio-3-col-3.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box photography">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i>
                               
                                <picture>
                                    <source type="image/webp" srcset="~/images/portfolio-3-col-4.webp">
                                    <source type="image/jpeg" srcset="~/images/portfolio-3-col-4.jpg">
                                    <img src="~/images/portfolio-3-col-4.jpg" alt="Gallery" />
                                </picture>
                            </i>
                            <a href="images/portfolio-3-col-4.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box photography graphic">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i>
                               
                                <picture>
                                    <source type="image/webp" srcset="~/images/portfolio-3-col-5.webp">
                                    <source type="image/jpeg" srcset="~/images/portfolio-3-col-5.jpg">
                                    <img src="~/images/portfolio-3-col-5.jpg" alt="Gallery" />
                                </picture>
                            </i>
                            <a href="images/portfolio-3-col-5.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 portfolio-box web">
                    <div class="portfolio-content">
                        <div class="portfolio-detail">
                            <i>
                               

                                <picture>
                                    <source type="image/webp" srcset="~/images/portfolio-3-col-6.webp">
                                    <source type="image/jpeg" srcset="~/images/portfolio-3-col-6.jpg">
                                    <img src="~/images/portfolio-3-col-6.jpg" alt="Gallery" />
                                </picture>
                            </i>
                            <a href="images/portfolio-3-col-6.jpg"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Container /- -->
    </div><!-- Portfolio Section /- -->

    <section class="testimony-section sp-60 sb-60">
        <div class="container">
            <div class="section-header mb-5 text-center animated wow fadeInUp">
                <h3>Our satisfied customer says</h3>
                <p>Our Work Speaks Louder Than Words...</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item text-center">
                            <div class="testimony-wrap">
                                <div class="user-img">
                                    <img src="~/images/person.png" alt="client" />
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="fa fa-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p>Integrity company has a solid technology team and ontime delivery.
                                    It is a team that strives for excellence and is open to experimenting 
                                    and creating new trends in the business. Very happy to be associated 
                                    with them.</p>
                                    <p class="name">Dennis Green</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="testimony-wrap">
                                <div class="user-img">
                                    <img src="~/images/person.png" alt="client" />
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="fa fa-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p>
                                    Great work!!! The team was solid, efficient and knowledgeable.
                                    They did an amazing job on my very challenging app.
                                    I will be using them again. Thank you for doing such a great job!
                                    </p>
                                    <p class="name">Ben Rong</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="testimony-wrap">
                                <div class="user-img">
                                    <img src="~/images/person.png" alt="client" />
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="fa fa-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p>
                                        Thanks to the Integrity team for their hard work and dedication 
                                    to make this happen. This launch of the website on our enterprise 
                                    platform represents a big step towards our digital presence.
                                    </p>
                                    <p class="name">Dr. Villare</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="testimony-wrap">
                                <div class="user-img">
                                    <img src="~/images/person.png" alt="client" />
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="fa fa-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p>
                                    We have been very happy with our decision to partner Integrity 
                                    Softwares Inc. and would recommend them strongly.
                                    </p>
                                    <p class="name">Caty Jone</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="testimony-wrap">
                                <div class="user-img">
                                    <img src="~/images/person.png" alt="client" />
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="fa fa-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p>
                                    Underpromised and overdelivered. 
                                    I am very impressed and will be retaining Integrity for many 
                                    years to come. 
                                    </p>
                                    <p class="name">Adam Shaun</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="item text-center">
                            <div class="testimony-wrap">
                                <div class="user-img">
                                    <img src="~/images/person.png" alt="client" />
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="fa fa-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p>
                                    Working with the team has been a most pleasant experience! 
                                    Their dedication and passion for what they do is exemplified
                                    by their unrivaled customer support and attentiveness to the
                                    specific needs of our business.
                                    </p>
                                    <p class="name">Marsh Jorden</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>