@{
    ViewBag.Title = "Privacy Policy";
    ViewBag.canonical = IntegrityWeb.Constant.SiteConfigration.webURL + "/privacypolicy";
}

<main class="site-main">

    <!-- Page Banner -->
    <div class="page-banner">
        <!-- Container -->
        <div class="container">
            <h3>Privacy <span>Policy</span></h3>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->
    <!-- Portfolio Section -->
    <div class="portfolio-section portfolio-3-col sp-60 sb-60 services-section privacy-section">
        <!-- Container -->
        <div class="container">
            <!-- Section Header -->
            <div class="section-header text-center">
                <p style="text-align:left">Integrity Softwares Inc. ("Company", "we", "us", or "our"). Is committed to protecting your personal information and your right to privacy.</p>
                <p style="text-align:left">This privacy policy applies to all information collected through our website and/or any related services, sales, marketing, or events (we refer to them collectively in this privacy policy as the "Services").</p>
                <p style="text-align:left">If you have any questions or concerns about our policy or practices, please contact us at @IntegrityWeb.Constant.SiteConfigration.ContactNo</p>
            </div><!-- Section Header /- -->
            <!-- Row -->
            <div class="section-header text-left" style="margin-top:25px">
                <h3>1. What Information We Collect</h3>
                <p>We collect personal information that you provide to us, including:</p>
                <div class="listingbox">
                    <ul>
                        <li>Personal information such as name, phone number, and email address</li>
                        <li>Payment data to process your payment, such as credit card number, expiration date, and associated security code</li>
                    </ul>
                </div>
            </div>
            <div class="section-header text-left">
                <h3>2. How We Use Your Information</h3>
                <p>We process your information based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent. We use your information:</p>
                <div class="listingbox">
                    <ul>
                        <li>For marketing.</li>
                        <li>To send you new or updated information about our products or services</li>
                        <li>To notify you of changes to our terms, conditions, and policies</li>
                        <li>To fulfill and manage your orders, payments, returns, and exchanges made through our services</li>
                        <li>To provide requested service</li>
                        <li>To respond to your questions and solve any potential issues you might have with the use of our services</li>
                        <li>To provide up to six months of post-release support</li>
                    </ul>
                </div>
            </div>
            <div class="section-header text-left">
                <h3>3. We Do Not Share Your Information</h3>
                <p>We do not share or sell your data to third parties. We may process or share data based on the following legal basis:</p>
                <div class="listingbox">
                    <ul>
                        <li>Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our agreement</li>
                        <li>We may disclose your information where we are legally required to do so to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal processes, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements)</li>
                    </ul>
                </div>
            </div>
            <div class="section-header text-left">
                <h3>4. Data Retention</h3>
                <p>We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless a longer retention period is required or permitted by law.</p>
                <p>You have the right to have your data deleted. Send deletion request to us at @IntegrityWeb.Constant.SiteConfigration.ContactEmail or by calling @IntegrityWeb.Constant.SiteConfigration.ContactNo.</p>
            </div>
            <div class="section-header text-left">
                <h3>5. Data Security</h3>
                <p>We have implemented appropriate technical and organizational security measures to protect any personal information we may process.</p>
                <p>If a data breach occurs, we will notify you via email within 72 hours and communicate with you through the remediation process. </p>
            </div>
            <div class="section-header text-left">
                <h3>6. Updates to Our Privacy Policy</h3>
                <p>We update this policy as necessary to stay compliant with relevant laws and to reflect any changes in how we use your data. </p>
                <p>If we make material changes to this privacy policy, we will notify you either by prominently posting a notice of such changes on our website or by directly sending you a notification.</p>
            </div>
            <div class="section-header text-left">
                <h3>7. Contact Us With Any Questions?</h3>
                <p>If you have questions or comments about this policy, you may email us at @IntegrityWeb.Constant.SiteConfigration.ContactEmail or by phone at @IntegrityWeb.Constant.SiteConfigration.ContactNo.</p>
            </div>
        </div><!-- Container /- -->
    </div><!-- Portfolio Section /- -->


</main>